.applications-grid-list {
  .item-view-wrapper {
    height: 44px;

    &.selected {
      .application-viewer {
        .xp-admin-common-names-view * {
          color: @admin-white;
        }

        .archive-status {
          span {
            color: @admin-white;
          }
        }
      }
    }

    .applications-list-viewer {
      display: grid;
      grid-template-columns: 1fr 120px 60px;
      padding-left: 0;

      .text-block {
        display: flex;
        justify-content: center;
        align-items: center;

        &.state {
          .progress-bar {
            width: 48px;
            height: 8px;
          }
        }
      }
    }
  }

  .application-viewer.local {
    .names-and-icon-view .@{_COMMON_PREFIX}wrapper::before {
      content: "L";
      background: @admin-blue;
      color: @admin-white;
    }
  }

  .application-viewer.system {
    .names-and-icon-view .@{_COMMON_PREFIX}wrapper {
      position: relative;

      &::after {
        font-family: 'icomoon', monospace;
        content: "\e1df";
        position: absolute;
        right: -4px;
        bottom: -4px;
        font-size: 14px;
        line-height: 14px;
        color: @admin-bg-dark-gray;
        background: @admin-white;
        border-radius: 50%;
        padding: 1px;
        pointer-events: none;
      }
    }
  }

  &.hide-system-apps {
    .item-view-wrapper:has(.applications-list-viewer.system-app) {
      display: none;
    }
  }

}
