.applications-grid-list {
  .item-view-wrapper {
    height: 42px;

    &.selected {
      .application-viewer {
        .xp-admin-common-names-view * {
          color: @admin-white;
        }

        .archive-status {
          span {
            color: @admin-white;
          }
        }
      }
    }

    .applications-list-viewer {
      display: grid;
      grid-template-columns: 1fr 120px 60px;

      .text-block {
        display: flex;
        justify-content: center;
        align-items: center;

        &.state {
          .progress-bar {
            width: 48px;
            height: 8px;
          }
        }
      }
    }
  }

  .application-viewer.local {
    .names-and-icon-view .@{_COMMON_PREFIX}wrapper::before {
      content: "L";
      background: @admin-blue;
      color: @admin-white;
    }
  }

}
