@_CLS_PREFIX: xp-admin-;

@import "~enonic-admin-artifacts";

@import "new/new-schema-dialog";
@import "view/application-item-statistics-panel";

.appbar {
  height: 60px;

  .home-button {
    align-items: center;
  }

  .appbar-tab-menu {
    align-self: flex-end;
  }
}
