.application-browse-item-panel {

  .application-item-statistics-toolbar {
    display: none;
    height: 44px;
    padding: 0 0 0 12px;
    background-color: @admin-black;
  }

  .application-item-statistics-panel-back-button {
    line-height: 44px;
    font-size: 20px;
    cursor: pointer;
    width: 20px;

    &::before {
      color: @admin-white;
    }
  }
}

body._540-720,
body._360-540,
body._240-360,
body._0-240 {

  .application-browse-item-panel {
    display: initial !important;
    position: fixed !important;
    left: 100%;
    width: 100% !important;
    background-color: @admin-white;
    transition: left 0.3s linear;
    z-index: 2502;

    &:not(.no-selection):not(.hidden).highlighted {
      left: 0;
    }

    .application-item-statistics-toolbar {
      display: block;
    }

    .header {
      padding: 16px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        margin-right: 10px;
        height: 44px;
        width: 44px;
      }

      h1 {
        flex: 1 0 auto;
        width: 100%;
        margin: 0;
        font-size: 22px;
        line-height: 28px;
      }

      h4 {
        flex: 1 0 auto;
        width: 100%;
      }
    }

    .application-data-container {
      padding: 0 16px;
    }

    .action-menu-wrapper {
      background-color: @admin-bg-light-gray;
      position: fixed;
      bottom: 0px;
      width: 100%;

      .action-menu {
        margin: 0 auto;
        text-align: center;

        .drop-down-button {
          padding: 8px 5px;
        }

        ul {
          top: auto;
          bottom: -4px;
          padding: 4px 4px 44px 4px;
        }
      }
    }
  }
}
