.application-browse-item-panel {

  .application-item-statistics-toolbar {
    display: none;
    height: 44px;
    padding: 0 0 0 12px;
    background-color: @admin-black;
  }

  .application-item-statistics-panel-back-button {
    line-height: 44px;
    font-size: 20px;
    cursor: pointer;
    width: 20px;

    &::before {
      color: @admin-white;
    }
  }
}

body._540-720,
body._360-540,
body._240-360,
body._0-240 {

  .application-browse-item-panel {
    display: initial !important;
    position: fixed !important;
    left: 100%;
    width: 100% !important;
    background-color: @admin-white;
    transition: left 0.3s linear;
    z-index: 2502;

    &:not(.no-selection):not(.hidden).highlighted {
      left: 0;
    }

    .application-item-statistics-toolbar {
      display: block;
    }
  }
}
